<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
  <!--<property name="log.maxHistory" value="30"/>-->
  <property name="log.level" value="info"/>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
    </filter>
    <encoder>
      <pattern>
        <!-- 设置日志输出格式：例	2018-09-21 14:35:00.011 [DEBUG] tsleasing.shipment.grab.Application - Running with Spring Boot v1.5.4.RELEASE, Spring v4.3.9.RELEASE -->
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger - %msg%n
      </pattern>
    </encoder>
  </appender>

  <root>
    <level value="${log.level}"/>
    <appender-ref ref="console"/>
  </root>
</configuration>